# OOP II Lab Task 4
```
Object Oriented Programming Lab 2 NJR
Course Code: CSE233+CSE234 
Section: PC-B
Completed by : Biplob Kumar Sutradhar (203-15-3923)
```
#### Daffodil International University

# Task 1

In [3]:
l = []
for i in range(5):
  l.append(int(input()))
  print('Numbers in the list:', l)

3
Numbers in the list: [3]
5
Numbers in the list: [3, 5]
34
Numbers in the list: [3, 5, 34]
-11
Numbers in the list: [3, 5, 34, -11]
0
Numbers in the list: [3, 5, 34, -11, 0]

# Task 2

In [14]:
i = input()[1:-1].split(', ')
if len(i)<=3:
  print('Not possible')
else:
  print('[', end='')
  print(*i[2:-2], sep=', ', end=']')

[10, 20, 24, 25, 26]
[24]

# Task 3

In [18]:
i = [int(input() for _ in range(5)]
print('Input data:', i)
i.reverse()
print(*['Printing values from the list in reverse order:', 
        *i], 
      sep='\n', 
      end='')

5
-5
100
1
0
Input data: [5, -5, 100, 1, 0]
Printing values from the list in reverse order:
0
1
100
-5
5

# Task 4

In [19]:
def sqrList(gL):
  return [i**2 for i in gL]

givenList1 = [1, 2, 3, 4, 5, 6, 7]
print(sqrList(givenList1))

givenList2 = [3, 5, 1, 6]
print(sqrList(givenList2))

[1, 4, 9, 16, 25, 36, 49]
[9, 25, 1, 36]

# Task 5

In [23]:
def printOutput(gL):
  print(
    'Original List:', gL, 
    '\nModified List:', [i for i in gL if not i==''])

printOutput(["hey", "there", "", "what's", "", "up", "", "?"])

Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List: ['hey', 'there', "what's", 'up', '?']

# Task 6

In [32]:
i = list(map(int, input()[1:-1].split(', ')))
maxN = i[0]
iP = 0
for inx, n in enumerate(i[1:]):
  if maxN < n:
    maxN = n
    iP = inx+1

print(
    'My list:', i, 
    f'\nLargest number in the list is {maxN} which was found at index {iP}.')

"7, 13, 2, 10, 6, -11, 0"
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1.

# Task 7

In [4]:
def replaceSlic(l, l1):
  print(l[:-1]+l1)

replaceSlic(
    [1, 4, 7, 5],
    [6, 1, 3, 9]
) 
print()
replaceSlic(
    [1, 3, 5, 7, 9, 10],
    [2, 4, 6, 8]
)

[1, 4, 7, 6, 1, 3, 9]

[1, 3, 5, 7, 9, 2, 4, 6, 8]

# Task 8

In [5]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]

print([i for i in list_one+list_two if i%2==0])

[2, 4, 6, 8, 10, 12, -14, -16]

# Task 9

In [10]:
i = input()
orList = []

n = ''
for m in i:
  if m==' ':
    orList.append(int(n))
    n='' 
  else:
    n+=m
orList.append(int(n))

print('Original list:', orList)
print('Modified list:', [i for i in orList if i%2!=0])

7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

# Task 10

In [11]:
i = list(map(int, input().split(', ')))
print('Input list:', i)
print('Modified list:', list(set(i)))

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Task 11

In [15]:
List_one = [1, 4, 3, 2, 5]
List_two = [8, 7, 6, 9]

print('True' if len(set(List_two) & set(List_one)) > 0 else 'False')

False

# Task 12

In [16]:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
    myList[index1] = myList[index1] + myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

# Task 13

In [17]:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

# Task 14

In [18]:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

# Task 15

In [19]:
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

# Task 16

In [38]:
def bubbleSort(array):
  for i in range(len(array)):
    for j in range(0, len(array) - i - 1):
      if array[j] > array[j + 1]:
        temp = array[j]
        array[j] = array[j+1]
        array[j+1] = temp


data = list(map(int, input().split(', ')))
print('My list:', data)
data2 = list(set(data))
bubbleSort(data2)
print(f'Second largest number in the list is {data2[-2]} which was found at index {data.index(data2[-2])}.')

7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3.

# Task 17

In [40]:
i = list(map(int, input().split(', ')))

m, mI = i[0], 0
n, nI = i[0], 0

for j, x in enumerate(i):
  if x>m:
    m = x
    mI = j
  elif x<n:
    n = x
    nI = j

print(
    'My list: ', i,
    f'\nSmallest number in the list is {n} which was found at index {nI}',
    f'\nLargest number in the list is {m} which was found at index {mI}',
    sep=''
)

7, 13, -5, 10, 6
My list: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

# Task 18

In [43]:
a = input().split(', ')
b = input().split(', ')
print(list(set(a) & set(b)))

A, B, C, D
C, E, F, B
['C', 'B']

# Task 19

In [44]:
list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

print(list(set(list_one+list_two)))

[1, 2, 99, 4, 5, 70, 7, 200, 3, 303, 500, -5]

# Task 20

In [53]:
i = input()
o = f'Original data: {i}'
if i[0] == '[':
  i = i[1:-1]
o += f'\nAfter removing square brackets: {i}'
i = i.split(',')
o += f'\nNumbers in string format with extra white spaces: {i}'
o += f'\nFinal data (numbers in list format): {list(map(int, i))}'
print(o)

[1, 2 , 3, 50, 4]
Original data: [1, 2 , 3, 50, 4]
After removing square brackets: 1, 2 , 3, 50, 4
Numbers in string format with extra white spaces: ['1', ' 2 ', ' 3', ' 50', ' 4']
Final data (numbers in list format): [1, 2, 3, 50, 4]

# Task 21

In [55]:
i = list(map(int, input().split(',')))
print(
    'Given numbers in list:', i,
    '\nList without any dupliacte values:', list(set(i))
)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
List without any dupliacte values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]