# OOP II Lab Task 5
```
Object Oriented Programming Lab 2 NJR
Course Code: CSE233+CSE234 
Section: PC-B
Completed by : Biplob Kumar Sutradhar (203-15-3923)
```
#### Daffodil International University

# Task 1

In [1]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

# Task 2

In [5]:
print(tuple(map(int, input()[1:-1].split(', ')))[2:-2])

(-10, 20, 25, 30, 40)
(25,)

# Task 3

In [7]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821), ("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ), ("Best Fiction","The Testaments",98,291)
)
print('Size of the tuple is:', len(book_info))
print(*book_info, sep='\n', end='')

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

# Task 4

In [10]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821), ("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ), ("Best Fiction","The Testaments",98291)
)

for i in book_info:
  b, a, c = i
  print(a, 'won the', f"'{b}'", 'category with', c, 'votes')

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

# Task 5

In [14]:
u, c = tuple(map(int, input()[14:-1].split(', '))), int(input())
print(c, 'appears', u.count(c), 'times in the tuple')

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
8
8 appears 4 times in the tuple

# Task 6

In [22]:
i = input()
print('(', end='')
print(*i[14:-1].split(', ')[::-1], sep=', ', end=')')

Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

# Task 7

In [24]:
a = {'Harry':15, 'Draco':8, 'Nevil':19}
b = {'Ginie':18, 'Luna': 14}

c = dict(a, **b)
print(c)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

# Task 8

In [26]:
i = input()[1:-1].split(', ')
l = 0
t = 0
for m in i:
  t += int(m.split(':')[1])
  l += 1
print(f'Average is {t//l}.')

{'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}
Average is 110.

# Task 9

In [29]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

i = int(input())
n = dict()
for k,v in exam_marks.items():
  if v>=i:
    n[k] = v
print(n)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

# Task 10

In [34]:
given_dict = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}

t = tuple(given_dict.items())
m = t[0]

for i in t:
  if m[1]<i[1]:
    m = i

print(f"The highest selling book genre is '{m[0]}' and the number of books sold are {m[1]}.")

The highest selling book genre is 'horror' and the number of books sold are 14.

# Task 11

In [37]:
i = input().lower()[1:-1]
o = dict()

for m in i:
  if not m==' ':
    try:
      o[m] += 1
    except KeyError:
      o[m] = 1

print(o)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

# Task 12

In [38]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

c = 0
for d in dict_1.values():
  for v in d:
    c += 1

print(c)

9

# Task 13

In [39]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

n = dict()

for m in list_1:
  try:
    n[m[0]].append(m[1])
  except KeyError:
    n[m[0]] = [m[1]]

print(n)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

# Task 14

In [40]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
  j = 0
  k = 22
  while j < 5:
    if j % 2 == 0:
      k = dict1[i] + j - (8 + k % 6) / 3
      dict1[i] = dict1[i]+ int(k)
    else:
      k = dict1[i] + j - (6 - k % 8) * 3
      dict1[i] = dict1[i] - int(k)
    j += 1
  print(int(k))
  print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

# Task 15

In [41]:
given = [(2, 3), (4, 5), (6, 7), (2, 8)]
print([i*j for i, j in given])

[6, 20, 42, 16]

# Task 16

In [43]:
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
i = input()
print(tuple(j[:-1]+[i] for j in a_tuple))

abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

# Task 17

In [45]:
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
print(dict((k, v) for k, v in my_dictionary.items() if v is not None))

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

# Task 18

In [49]:
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
x, y = map(int, input().split(', '))

print(dict((k, v) for k, v in dict_1.items() if x<=v<y))

9, 12
{'c': 9, 'e': 11}

# Task 19

In [51]:
d = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
m = dict()

for i in d:
  try:
    m[i[1]].append(i)
  except KeyError:
    m[i[1]] = [i]

print(m)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

# Task 20

In [57]:
import re

i = input()[1:-1]
c = list(map(lambda x: x[1:-1], input()[1:-1].split(', ')))

lenC = len(c)
words = re.findall(r'\w+', i)
print('Words in the given String:', words)

d = dict()

for m in words:
  cValue = c[sum(ord(j) for j in m)%lenC]
  try:
    if not m in d[cValue]: 
      d[cValue].append(m)
  except KeyError:
    d[cValue] = [m]
  
print('Answer:', d)

'I love Programming. Python is love.'
['@', '$', '&', '#']
Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}